body{
    background-image: url(../images/experience.jpg);
    image-rendering: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Fredoka';
}
.fredoka-custom {
    color:black;
    font-family: 'Fredoka', serif;
    font-optical-sizing: auto;
    font-weight: 600; /* Specify the desired weight */
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
header{
    display:flex;
    font-size:2em;
    color:white;
    justify-content:center;
    align-content:center;
    
}
.parent{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:20px;
    gap:30px;
    flex-shrink:1;

}
.exp{
    background-color:white;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    padding:20px;
    width:400px;
    height:500px;
    min-width: 200px;
    min-height: 400px; 
    border-bottom:2px solid rgb(137, 137, 137);
}
@media screen and (max-width: 840px) {
    header{
        font-size:1em;
    }
    .parent {
        flex-wrap: wrap; 
    }
    .logo{
        height:auto;
        width:auto;
        
    }
    .exp{
        width:fit-content;
        height:auto;
        
    }
    
}
.logo{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    overflow: hidden;
    margin-bottom:15px;
    object-fit: contain;
    height: auto; 
    width: 100%;
    max-width: 170px;
}
p::first-line {
    font-weight: bold;         
    color: #6751E1;          
    font-size: 1.4em;
      
}