body{
    background-image: url(../images/projects.jpg);
    image-rendering: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family:'Fredoka';
}
.fredoka-custom {
    color:#6751E1;
    font-family: 'Fredoka', serif;
    font-optical-sizing: auto;
    font-weight: 600; 
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
header{
    color:white;
    font-size:3em;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-bottom:5%;
}
.project_container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:20px;
    gap:30px;
    flex-shrink:1;

}
.project{
    background-color:white;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction:column;
    width:400px;
    height:500px;
    min-width: 200px;
    min-height: 200px;
    border:2px double #6751E1;
    padding:20px;
}

@media screen and (max-width:870px) {
    .header{
        font-size:1em;

    }
    .project_container{
        flex-direction:column;
        gap:10px;

    }
    .project{
       width:fit-content;
       height:fit-content;
    }
    
}